# create function

In [1]:
def add_number():
    
    
    number1 = int(input("Enter the 1st number"))

    number2 = int(input("Enter the 2nd number"))

    print(number1 + number2)

In [2]:
add_number()    # calling function

Enter the 1st number20
Enter the 2nd number30
50

In [5]:
def add_number(): 
                              # these values are hard coded, fixed values in function
    print(200+300)

In [6]:
add_number()

500

In [7]:
def sub_number():
    number1 = int(input("Enter the 1st number"))

    number2 = int(input("Enter the 2nd number"))

    number5 = number1 - number2

    print(number5)

In [8]:
sub_number()

Enter the 1st number70
Enter the 2nd number30
40

In [9]:
def mul():

    num = 3*6

    print(num)

In [10]:
mul()

18

In [11]:
def multiple():
    num1 = int(input("Enter the 1st number"))

    num2 = int (input("Enter the 2nd number"))

    total = (num1 * num2)

    print(total)

In [12]:
multiple()

Enter the 1st number20
Enter the 2nd number10
200

In [13]:
def multiple():
    num1 = float(input("Enter the 1st value"))

    num2 = int(input("Enter the 2nd number"))

    total = (num1 * num2)

    print(total)

In [16]:
multiple()

Enter the 1st value20.2
Enter the 2nd number10
202.0

In [17]:
def div():
    a = 90

    b = 15

    result = a/b # result in floating number by defult in python

    print(result) # result = a//b , the result should be in intege

In [18]:
div()

6.0

In [19]:
def div():
    a = 90

    b = 15

    result = a//b  #  result = a//b , the result should be in intege

    print(result)

In [20]:
div()

6

In [21]:
def reminder():
    num1 = int(input("Enter the first value"))

    num2 = int(input("Enter the 2nd value"))

    total = num1 % num2

    print(total)

In [23]:
reminder()

Enter the first value190
Enter the 2nd value12
10

# PASSING INFORMATION BY POSITIONAL ARGUMENTS

there are two type of functions
- parameter less function
- parameterized function

Define Parameter less Function
-

- def is a key-word
- function name
- bracket or parenthysis
- colon

def add_number(): -  if parenthysis is empty ,its mean that
- it is a parameter less function

# PARAMETERIZED FUNCTION

In [29]:
def add_numbers(num1, num2):
    
 # variables name or value in parenthysis are known as PARAMETERS
   print(num1+num2)

In [30]:
add_numbers(20,70)

90

posotional arguments

In [31]:
def sub(num1, num2):

    print(num1-num2)

In [32]:
sub(200,70)

130

KEY-WORD ARGUMENTS

In [33]:
def add_numbers(number1,number2):

    print(number1+number2) # So these are key-words arguments

In [34]:
add_numbers(number2=200, number1=100)   # in key-words arguments position not matter or should be changed

300

In [35]:
def full_name(first,middle,last):

    print(first+middle+last)

In [36]:
full_name("RANA","SAEED","ENGR")

RANASAEEDENGR

Key-Word Arguments

In [37]:
def fullName(middle="Muhammad",last="Saeed",first="Rana"):

 print(first+middle+last)

In [38]:
fullName()

RanaMuhammadSaeed

In [39]:
def fullName(first,middle,last="Saeed"):

    print(first+middle+last)

In [40]:
fullName("MR","Rana")

MRRanaSaeed

# DEALING WITH AN UNKNOWN NUMBER OR ARBITARARY NUMBER

In [41]:
def pizzaorder(size,flavour,*toppings):          # we first define toppings with steric

    print(f"your order for pizza of{size},flavour{flavour},and toppings{toppings} is ready")

In [42]:
pizzaorder(12,"chikentikka","olives","fruits","tea")

your order for pizza of12,flavourchikentikka,and toppings('olives', 'fruits', 'tea') is ready

# LOCAL AND GLOBAL VARIABLES in function

In [47]:
def beHappy():
    
    name =" Mr A"
                           # name variable define inside the function ,so it is a local variable

    print(f"{name} is very happy today")

In [48]:
beHappy()

 Mr A is very happy today

In [ ]:
print(name)            # error occurs,name variable not define because its scope is inside the function

In [50]:
another_name = "Mr B"
                 # another_name variable have declear outside the function,so it have scope outside the fuction
def sad():

    print(f"{another_name} is very sad today")

In [51]:
sad()

Mr B is very sad today

In [52]:
another_name    #  it means that another_name variable is Global variables

'Mr B'

In [57]:
def commissioncalc(sales):
    
    if sales>100 :
        return sales*100
    elif sales>50:
        return sales*50
    elif sales>20:
        return sales*20
    else:
        return 0

def salarycalc(basics,sales):

        grosssalary = basics + commissioncalc(sales)

        print(f"your gross salary is {grosssalary}")

In [58]:
salarycalc(20000,120)

your gross salary is 32000

In [59]:
120*100

12000