# Print function using single quotes

In [3]:
print('i am a scholar')

i am a scholar

# Print function using double quotes

In [6]:
print("i am scholar")

i am scholar

In [7]:
print(2+3)

5

# Arithmetic operatios in print function

In [13]:
a=5
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**3)

25
-15
100
0.25
0
5
125

# Escape Sequence in Print function

In [10]:
print("this is \n new line escape sequence")

this is
 new line escape sequence

In [11]:
print("this iss\b backspace escape sequence")

this iss backspace escape sequence

In [12]:
print("Hello /\ word")

Hello /\ word

# Variable with their type

In [15]:
fname='M. Sajid'
lname="Rashid"
gender='M'
age=30
height=5.7
print(fname+lname)
print(gender)
print(age)
print(height)

M. SajidRashid
M
30
5.7

In [16]:
type(fname)

str

In [17]:
type(lname)

str

In [18]:
type(gender)

str

In [19]:
type(age)

int

In [20]:
type(height)

float

# String Formating

In [24]:
fname="M. Sajid"
lname="Rashid"
print(f"my name is {fname} {lname}")

my name is M. Sajid Rashid

# Comments

In [26]:
print("this is comment statement")
#print("this is comment statement")

this is comment statement

In [34]:
print("this is multi line comments syntax")
'''print("hello")
print("word")
print("python")
print("Java")'''

this is multi line comments syntax

'print("hello")\nprint("word")\nprint("python")\nprint("Java")'

# Errors in multi-Line comments

# if Syntax

In [37]:
a=10
b=20
if a>b:
    print(f"{a} is Greater")
if a<b:
    print(f"{b} is Greater")

20 is Greater

# if-else syntax

In [39]:
a=10
b=20
if a>b:
    print(f"{a} is Greater")
else:
    print(f"{b} is Greater")

20 is Greater

# Nested if-else-if (if-elif) with Logical Operators

In [42]:
a=10
b=30
c=20
if a>b and a>c:
    print(f"{a} is greater")
elif b>a and b>c:
    print(f"{b} is greater")
elif c>a and c>b:
    print(f"{c} is greater")
else:
    print("All are equal")

30 is greater

# While Loop

In [44]:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

# Table of 2 using while loop

In [47]:
num=2
i=1
while i<=10:
        print(f"{num}*{i}={num*i}")
        i=i+1

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

# For Loop

In [48]:
for i in range(10):
    print("I love Pakistan")

I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan
I love Pakistan

In [50]:
for i in range(1,5,1):
    print("I Love Pakistan")

I Love Pakistan
I Love Pakistan
I Love Pakistan
I Love Pakistan

# List Practice

In [51]:
fruits=["apple",'mango',"leeche",'grapes','coconut']
print(fruits)

['apple', 'mango', 'leeche', 'grapes', 'coconut']

In [52]:
print(fruits[0])

apple

In [53]:
for i in fruits:
    print(i)

apple
mango
leeche
grapes
coconut

In [56]:
print(fruits[-1])

coconut

In [61]:
i =-1
while i<0:
    print(fruits[i])
    i=i-1

coconut
grapes
leeche
mango
apple

IndexError: list index out of range

In [62]:
print(fruits[1:3])

['mango', 'leeche']

# Methods in List

# Append method

In [65]:
print(fruits)
fruits.append("Pine-apple")
print(fruits)

['apple', 'mango', 'leeche', 'grapes', 'coconut', 'Pine-apple']
['apple', 'mango', 'leeche', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']

# Insert Method

In [66]:
print(fruits)
fruits.insert(3,"Strawberry")
print(fruits)

['apple', 'mango', 'leeche', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']
['apple', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']

# List Concatenation

In [82]:
vegetables=["Potato",'Chilli',"Tomato"]
print(fruits)
print(vegetables)
#print(fruits+vegetables)
mixlist = fruits+vegetables
print(mixlist)

['apple', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']
['Potato', 'Chilli', 'Tomato']
['apple', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple', 'Potato', 'Chilli', 'Tomato']

# Extend Method in List

In [83]:
print(vegetables)
print(fruits)
vegetables.extend(fruits)
print(vegetables)

['Potato', 'Chilli', 'Tomato']
['apple', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']
['Potato', 'Chilli', 'Tomato', 'apple', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut', 'Pine-apple', 'Pine-apple']

# POP Method in List

In [88]:
print(vegetables.pop())

Pine-apple

In [89]:
print(vegetables.pop(2))

apple

In [90]:
print(vegetables)

['Potato', 'Chilli', 'mango', 'leeche', 'Strawberry', 'grapes', 'coconut']

# Delete Operator

In [93]:
del vegetables[2]

In [94]:
print(vegetables)

['Chilli', 'mango', 'Strawberry', 'grapes', 'coconut']

# Remove Function

In [95]:
fruits.remove('grapes')

In [96]:
print(fruits)

['apple', 'mango', 'leeche', 'Strawberry', 'coconut', 'Pine-apple', 'Pine-apple']

# in keyword in List

In [106]:
for i in fruits:
    if 'mango' in i:
        print("Present")
    else:
        print("Not Present")

Not Present
Present
Not Present
Not Present
Not Present
Not Present
Not Present

# Count Method in List

In [107]:
print(fruits.count("apple"))

1

In [111]:
print(fruits)
fruits.sort()
print(fruits)

['Pine-apple', 'Pine-apple', 'Strawberry', 'apple', 'coconut', 'leeche', 'mango']
['Pine-apple', 'Pine-apple', 'Strawberry', 'apple', 'coconut', 'leeche', 'mango']

# Clear method

In [115]:
print(mixlist)
mixlist.clear()
print(mixlist)

[]
[]

# Copy method

# fruits2=fruits.copy()
print(fruits2)

# Reverse Method

In [117]:
print(fruits2)
fruits2.reverse()
print(fruits2)

['Pine-apple', 'Pine-apple', 'Strawberry', 'apple', 'coconut', 'leeche', 'mango']
['mango', 'leeche', 'coconut', 'apple', 'Strawberry', 'Pine-apple', 'Pine-apple']

# Dictionary

In [2]:
rec = {'name':'M. Sajid rashid', 'Age':30, 'Gender':'M'}

In [3]:
print(rec)

{'name': 'M. Sajid rashid', 'Age': 30, 'Gender': 'M'}

In [4]:
rec

{'name': 'M. Sajid rashid', 'Age': 30, 'Gender': 'M'}

# How to print Keys in Dictionaries

In [13]:
for key in rec:
    print(key)

name
Age
Gender

# # How to print Values in Dictionaries

In [18]:
for value in rec.values():
    print(value)

M. Sajid rashid
30
M

# # How to print Keys and Values Together in Dictionaries

In [19]:
for key, value in rec.items():
    print(f"key is {key} and value is {value}")

key is name and value is M. Sajid rashid
key is Age and value is 30
key is Gender and value is M

# How to Add data in Dictionaries

In [20]:
rec['job']='Yes'
rec["Qualification"]='Ph.D Scholar'
rec

{'name': 'M. Sajid rashid',
 'Age': 30,
 'Gender': 'M',
 'job': 'Yes',
 'Qualification': 'Ph.D Scholar'}

# How to check Keys in Dictionaries

In [23]:
if 'name' in rec:
    print('yes')

yes

In [24]:
if 'nam' in rec:
    print('yes')
else:
    print('no')

no

# How to check Keys in Dictionaries

In [26]:
if 'Sajid' in rec.values():
    print('yes')
else:
    print('no')

no

In [28]:
if 'M. Sajid rashid' in rec.values():
    print('yes')
else:
    print('no')

yes

# get method in Dictionaries

In [36]:
rec.get('Age')

30

# Pop method in Dictionaries

In [38]:
rec.pop('Age')

30

In [39]:
rec

{'name': 'M. Sajid rashid',
 'Gender': 'M',
 'job': 'Yes',
 'Qualification': 'Ph.D Scholar'}