# Welcome to python tutorial

In [8]:
print(2839)

2839

In [9]:
print("python programming")

python programming

In [10]:
print(89329032.8344)

89329032.8344

In [11]:
data = 3030

print(type(data))

<class 'int'>

In [12]:
da = 303.33

print(type(da))
print(da)

<class 'float'>
303.33

In [13]:
str = 'Rana'

type(str)

str

' ' single

" " double

In [15]:
num = '300'

type(num)

str

In [16]:
num = "300"

type(num)

str

In [17]:
# We are studing python programming for machine learning

num = "300"

type(num)

str

In [18]:
#  single line comment

#num = "300"
#type(num)

In [19]:
print("Rana Seeed")

Rana Seeed

User input
variable type

In [20]:
data = 939

data = 100

print(data)

100

In [21]:
da = 100
num = 200
sum = da + num
print(sum)

300

In [22]:
da = 100
num = 200
print(da + num)

300

In [23]:
da = 100
num = 200
mul = da * num
print(mul)

20000

In [24]:
da = 100
num = 200
sum = da - num
print(sum)

-100

In [25]:
da = 1000
num = 200
div = da / num
print(div)

5.0

In [26]:
da = 1000
num = 200
sum = da // num
print(sum)

5

In [27]:
da = 1100
num = 200
sum = da % num

print(type(sum))

print(sum)

<class 'int'>
100

# user_input

In [ ]:
# user input or taking value from user or programmer

In [ ]:
#    input()

In [32]:
num = input("Enter the value")

print(num)
type(num)

Enter the valuebscs, 100, 70.70
bscs, 100, 70.70

str

In [37]:
val = int(input("Enter the integer values"))
print(val)

Enter the integer values100
100

In [39]:
val = float(input("Enter the integer values"))

print(val)

Enter the integer values20.20
20.2

In [ ]:
data = int(input("Enter the the integer value "))

In [40]:
d = input("enter value")
type(d)

enter value200

str

In [41]:
data

100

In [ ]:
type(data)

In [ ]:
float = float(input("Enter the floating point value"))

In [ ]:
float

In [ ]:
string = str(input("Enter the string"))

In [ ]:
string   # dealing as string

In [48]:
data = str(input("Enter the string"))

print(data)

Enter the stringhy

TypeError: 'str' object is not callable

In [45]:
data

100

In [ ]:
type(data)

# Lists in Python

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data,
the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Creating List

In [ ]:
num = [12,20,34,55,]
print(num)

cities = ["bwp", 'lahore',"multan"]
print(cities)

In [2]:
bscs6 = ["saeed", 'rashna', "rabia", 'samreen', 'nagina']
print(bscs6)

['saeed', 'rashna', 'rabia', 'samreen', 'nagina']

In [10]:
names=["Rana","saeed","Ramzan","Ijaz","Irfan","Ali","Abbas","Imran","Amjad"]

city=["gogran","lodhran","bwp","multan"]

val = [20,50,10,90,40,70,30,60]

# index()

In [11]:
names

['Rana', 'saeed', 'Ramzan', 'Ijaz', 'Irfan', 'Ali', 'Abbas', 'Imran', 'Amjad']

In [18]:
names[1 ]

'saeed'

In [20]:
names[-7 : -4]

['Ramzan', 'Ijaz', 'Irfan']

In [13]:
names[3]

'Ijaz'

# Access Value from the Lists

lsitName + index  + = names[0]

In [21]:
names[0]

'Rana'

In [22]:
names

['Rana', 'saeed', 'Ramzan', 'Ijaz', 'Irfan', 'Ali', 'Abbas', 'Imran', 'Amjad']

In [23]:
names[7]

'Imran'

# len()

In [24]:
len(names)

9

In [25]:
names

['Rana', 'saeed', 'Ramzan', 'Ijaz', 'Irfan', 'Ali', 'Abbas', 'Imran', 'Amjad']

In [26]:
print(val)
len(val)

[20, 50, 10, 90, 40, 70, 30, 60]

8

# Add Value in list

append()

extend()

In [27]:
names

['Rana', 'saeed', 'Ramzan', 'Ijaz', 'Irfan', 'Ali', 'Abbas', 'Imran', 'Amjad']

In [28]:
names.append("Shoban")

In [29]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban']

In [30]:
names.append("saghir")

In [31]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir']

In [32]:
names.append("kashif")

In [33]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif']

extend()

In [34]:
names.extend(["Saddique","Asghar","Shahzad"])

In [35]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'Shahzad']

In [36]:
names.extend(["ali", "amjad"])

In [37]:
print(names)

['Rana', 'saeed', 'Ramzan', 'Ijaz', 'Irfan', 'Ali', 'Abbas', 'Imran', 'Amjad', 'Shoban', 'saghir', 'kashif', 'Saddique', 'Asghar', 'Shahzad', 'ali', 'amjad']

# insert()

In [38]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'Shahzad',
 'ali',
 'amjad']

In [39]:
names.insert(3,"Shakeel")

In [40]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'Shahzad',
 'ali',
 'amjad']

# count()

In [41]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'Shahzad',
 'ali',
 'amjad']

In [42]:
names.count("amjad")

1

# clear()

In [43]:
num = [1,2,4,5,6,8,0]

In [44]:
num

[1, 2, 4, 5, 6, 8, 0]

In [45]:
num.clear()

In [46]:
num

[]

In [47]:
len(num)

0

# copy()

In [48]:
city

['gogran', 'lodhran', 'bwp', 'multan']

copy by value

copy by refference

In [49]:
city1 = city.copy() 

#copy  by value

print(city1)

['gogran', 'lodhran', 'bwp', 'multan']

In [50]:
city2 = city    

# copy by refference

print(city2)

['gogran', 'lodhran', 'bwp', 'multan']

In [51]:
city.append("hello")

In [52]:
city

['gogran', 'lodhran', 'bwp', 'multan', 'hello']

In [53]:
city1

['gogran', 'lodhran', 'bwp', 'multan']

In [54]:
city2

['gogran', 'lodhran', 'bwp', 'multan', 'hello']

# remove()

In [55]:
city

['gogran', 'lodhran', 'bwp', 'multan', 'hello']

In [56]:
city.remove("hello")

In [57]:
city

['gogran', 'lodhran', 'bwp', 'multan']

In [58]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'Shahzad',
 'ali',
 'amjad']

In [59]:
names.remove("Shahzad")
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad']

# del keywords

In [60]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Irfan',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad']

In [61]:
del names[5]

In [62]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad']

# pop()

In [63]:
names

['Rana',
 'saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad']

In [64]:
na = names.pop(0)

In [65]:
na

'Rana'

In [66]:
names

['saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad']

In [69]:
names.append(na)

In [70]:
names

['saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad',
 'Rana',
 'Rana']

# sort()

In [71]:
val

[20, 50, 10, 90, 40, 70, 30, 60]

In [73]:
val.sort()

In [74]:
val

[10, 20, 30, 40, 50, 60, 70, 90]

In [75]:
names

['saeed',
 'Ramzan',
 'Shakeel',
 'Ijaz',
 'Ali',
 'Abbas',
 'Imran',
 'Amjad',
 'Shoban',
 'saghir',
 'kashif',
 'Saddique',
 'Asghar',
 'ali',
 'amjad',
 'Rana',
 'Rana']

In [76]:
names.sort()
names

['Abbas',
 'Ali',
 'Amjad',
 'Asghar',
 'Ijaz',
 'Imran',
 'Ramzan',
 'Rana',
 'Rana',
 'Saddique',
 'Shakeel',
 'Shoban',
 'ali',
 'amjad',
 'kashif',
 'saeed',
 'saghir']

In [77]:
val

[10, 20, 30, 40, 50, 60, 70, 90]

In [78]:
val.sort(reverse=True)

In [79]:
val

[90, 70, 60, 50, 40, 30, 20, 10]

# Slicing in python

In [ ]:
names

In [ ]:
names[:2]
#start : end

positive and negative slicing

In [ ]:
names[-1:]

number=[ 10  ,  25 ,  32  ,  55 ,  70  ,  85  ,  95  ,  66  ,  99  ]

index    0   ,   1  ,  2   ,  3  ,   4  ,  5  ,   6  ,   7   ,   8
  
    indexing start from 0.

#index  -9  ,  -8  ,  -7  ,  -6  ,   -5  ,  -4  ,  -3  ,  -2  ,  -1  

#   negative indexing start from -1  not 0

number=[ 10  ,  25  ,  32  ,  55  ,   70  ,  85  ,  95  ,  66  ,  99  ]

In [ ]:
names[-2]

# STEP IN SLICING

In [ ]:
val

# start: end:step

In [ ]:
val[ : ]

In [ ]:
val[0::2]      # 2 is a step

# Delete One or more values in the lsits

In [ ]:
val

In [ ]:
del val[1:3]

In [ ]:
val

In [ ]:
names

In [ ]:
del names[1:3]

In [ ]:
names

In [ ]:
city

In [ ]:
del city[2:]

In [ ]:
city